section.comment 
    .container 
        .comment-content 
            .comment-title Title Here 
            .comment-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, aperiam dolore vero provident ducimus.
            form.comment-form
                input(type="text", name="", placeholder="Your Email").comment-input
                button(type="submit").comment-button Subscribe