footer.footer 
    .container 
        .footer-content 
            .footer-text
                .footer-text__content
                    .footer-text__title Title Here
                    .footer-text__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, modi autem. Incidunt eos unde corporis.
                    .footer-text__social
                        i.footer-text__icon.fab.fa-instagram 
                        i.footer-text__icon.fab.fa-facebook-f
                        i.footer-text__icon.fab.fa-twitter 
                        i.footer-text__icon.fab.fa-whatsapp 
            .footer-about 
                .footer-about__content 
                    .footer-about__title About
                    .footer-about__list 
                        .footer-about__item History
                        .footer-about__item Our Team
                        .footer-about__item Brand Guidelines
                        .footer-about__item Terms & Condition
                        .footer-about__item Privacy Policy
            .footer-services
                .footer-services__content
                    .footer-services__title Services
                    .footer-services__list
                        .footer-services__item How to Order
                        .footer-services__item Our Product
                        .footer-services__item Order Status
                        .footer-services__item Promo
                        .footer-services__item Payment Method
            .footer-other 
                .footer-other__content
                    .footer-other__title Other
                    .footer-other__list
                        .footer-other__item Contact Us
                        .footer-other__item Help
                        .footer-other__item Privacy  