section.people 
    .container 
        .people-content 
            img(src="./images/img_people.png").people-img
            .people-text
                .people-desc If you are a culinary fan, if you like to spend time in your kitchen, you likely find yourself looking for reliable resources through which you can
                .people-title Phoebe Frazier