section.popular 
	.container
		.popular-title Popular menu
		.popular-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore rerum aperiam voluptatum quos.
		.popular-list 
			+popularItem("./images/img_popular_1.png")
			+popularItem("./images/img_popular_2.png")
			+popularItem("./images/img_popular_3.png")