section.statistic 
	.container 
		.statistic-title Statistics 
		.statistic-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore rerum aperiam voluptatum quos.
		.statistic-list     
			+statisticItem("123","store")
			+statisticItem("100","menu")
			+statisticItem("200","chef")