section.sushi_2 
    .container 
        .sushi_2-item 
            .sushi_2-content 
                h1.sushi_2-content-title Title Here 
                p.sushi_2-content-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ipsum voluptatibus sapiente.
                a.sushi_2-content-link(href="#") Order now
            img(src="./images/img_title_2.png").sushi_2-img
            