section.sushi 
    .container 
        .sushi-item 
            img(src="./images/img_title_1.png").sushi-img
            .sushi-content 
                h1.sushi-content-title Title Here 
                p.sushi-content-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ipsum voluptatibus sapiente.
                a.sushi-content-link(href="#") Order now
            