.comment{
    min-height: 750px;
    background-color: $secondary-color;
    background-image: url(../images/img_sushi_shape4.png),
    url(../images/img_sushi_shape1.png),
    url(../images/img_sushi_shape3.png),
    url(../images/img_sushi_shape4.png),
    url(../images/img_sushi_shape5.png),
    url(../images/img_sushi_shape6.png),
    linear-gradient(to right, rgba($secondary-color, 1), rgba($secondary-color, 1));
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: bottom 15rem left 40px,
     bottom 60px right 80px,
     top 2.5rem right -10px,
     top 11rem right 415px,
     bottom 5rem left 645px,
     top 2.5rem left 8rem,
     center;
     &-content{
        padding-top: 158px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
     }
     &-title{
        text-align: center;
        font-family: $primary-font;
        color: $primary-color;
        font-size: 75px;
        font-weight: 700;
        margin-bottom: 48px;
     }
     &-desc{
        text-align: center;
        padding: 0 20rem;
        font-family: $primary-font;
        color: $primary-color;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 96px;
     }
     &-input{
         width: 100%;
        border: 1px solid #eee;
        height: 5rem;
        border-radius: 3rem;
        font-family: $primary-font;
        font-size: 25px;
        font-weight: 400;
        padding: 0 2rem;

     }
     &-form{
        width: 800px;
        display: flex;
        align-items: center;
        font-family: $primary-font;
     }
     &-button{
        height: 5rem;
        padding: 0 3rem;
        border: 0;
        font-family: $primary-font;
        font-size: 25px;
        font-weight: 700;
    background-color: $primary-color;
    color: white;
    border-radius: 3rem;
    margin-left: -5rem;
     }
   @media screen and (max-width:1023px){
      min-height: 600px;
      background-image: url(../images/img_sushi_shape4.png),
      url(../images/img_sushi_shape1.png),
      url(../images/img_sushi_shape3.png),
      url(../images/img_sushi_shape4.png),
      url(../images/img_sushi_shape5.png),
      url(../images/img_sushi_shape6.png),
      linear-gradient(to right, rgba($secondary-color, 1), rgba($secondary-color, 1));
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: bottom 15rem left 40px,
       bottom 60px right 50px,
       top 2.5rem right -10px,
       top 5rem right 415px,
       bottom 1rem left 345px,
       top 2.5rem left 8rem,
       center;
      &-desc{
         padding: 0 10rem;
         font-size: 20px;
         margin-bottom: 50px;
      }
      &-content{
         padding-top: 100px;
      }
      &-title{
         font-size: 64px;
         margin-bottom: 40px;
      }
      &-form{
         width: 700px;
      }
      &-input{
         font-size: 20px;
      }
   }
   @media screen and (max-width:767px){
      background-image:
      url(../images/img_sushi_shape1.png),
      url(../images/img_sushi_shape3.png),
      url(../images/img_sushi_shape4.png),
      url(../images/img_sushi_shape5.png),
      url(../images/img_sushi_shape6.png),
      linear-gradient(to right, rgba($secondary-color, 1), rgba($secondary-color, 1));
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
      background-position:
       bottom 10px right 50px,
       top -5rem right -30px,
       top 14rem left 40px,
       bottom 1rem left 50px,
       top 2.5rem left 2rem,
       center;
      &-form{
         width: 100%;
         display: block;
         position: relative;
         padding: 0 5rem;
      }
      &-input{
         font-size: 16px;
         margin: 0 auto;
      }
      &-title{
         font-size: 4rem;
      }
      &-desc{
         font-size: 16px;
         padding: 0 5rem;
         line-height: 1.2;
      }
      &-button{
         margin: 2rem auto;
         display: flex;
         align-items: center;
      }
   }
}