extends layout/layout

block vars
	-title = 'Welcome to Sushi'
	-bodyClass = 'home-page'

block container
	include blocks/popular
	include blocks/sushi
	include blocks/statistic
	include blocks/sushi_2
	include blocks/people
	include blocks/comment
